{% extends 'main base.html' %}
{% block content %}

<div class="container mt-5" style="margin-top: 15rem; "> <!-- Контейнер с верхним отступом -->
    <div class="row justify-content-center"> <!-- Центрирование строки -->
        <div class="col-md-8"> <!-- Колонка, занимающая 8/12 ширины -->
            <h1>Редактирование приема №{{ reception.id }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
 <a href="{% url 'main:unconfirmed_receptions_list' %}" class="btn btn-secondary">Назад</a>        </div>
    </div>
</div>

{% endblock %}
