{% load static %}
<footer id="footer" class="footer-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="logo padding">
                     <a href=""><img src="{% static 'images/logo.png' %}" alt=""></a>
                     <p>Здоровый след, ортопедический кабинет: адреса со входами на карте, отзывы, фото ... 7-й м-н, Темиртау, Карагандинская область, 101401/M28B0H6. Показать вход.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-info padding">
                     <h3>Наши контакты</h3>
                     <p><i class="fa fa-map-marker" aria-hidden="true"></i> Город Темиртау, Проспект Б.Момышулы 87а,
7-й м-н, Темиртау, Карагандинская область, 101401/M28B0H6</p>

                     <p><i class="fa fa-phone" aria-hidden="true"></i> +7705 644 9074</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="subcriber-info">
                     <h3>Законность</h3>
                     <p>СЕРТИФИКАТЫ ЛИЦЕНЗИИ ВСЕ ЗАКОННО</p>
                     <div class="subcriber-box">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="copyright-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2024 Здоровый след. Все правы защищены.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="social">
                <ul class="social-links">
    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-youtube"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
    <li><a href=""><i class="fab fa-telegram-plane"></i></a></li>
    <li><a href=""><i class="fab fa-pinterest"></i></a></li>
</ul>

                  </div>
               </div>
            </div>
         </div>
      </div>
