{% extends 'main base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5" style="margin-top: 175px;">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Восстановление пароля</h1>
            <p class="card-text">Привет, {{ user.full_name }}!</p>
            <p class="card-text">
                Вы запросили восстановление пароля для вашего аккаунта. Чтобы задать новый пароль, пожалуйста, перейдите по ссылке который был отправлен вам на почту {{ user.get_username }}:
            </p>
        </div>
    </div>
</div>

{% endblock %}
