

{% extends 'main base.html' %}
{% load static %}

{% block content %}
<div class="container my-5" style="margin-top:175px">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="mb-5 text-center">Годовой отчет за {{ current_year }}</h1>
            <div class="d-flex justify-content-center">
                <form method="get" class="form-inline my-4">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary ml-2">Показать</button>
                </form>
            </div>

            <!-- Секция услуг -->
<div class="mt-5" id="servicesSection">
    <h1 class="text-center mb-4">Статистика по услугам</h1>
    {% if service_stats %}
        <h3 class="text-center">Общее количество пациентов: {{ total_patients_count }}</h3>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="serviceChart"></canvas>
        </div>
    {% else %}
        <h3 class="text-center">Данные не найдены</h3>
    {% endif %}
</div>

        <!-- Секция тренажерного зала -->
<div class="mt-5" id="gymSection">
    <h1 class="text-center mb-4">Пациенты в тренажерном зале</h1>
    {% if gym_attendance_count > 0 %}
        <h3 class="text-center">Общее количество пациентов: {{ total_patients_count }}</h3>
        <h3 class="text-center">Пациенты в тренажерном зале: {{ gym_attendance_count }}</h3>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="gymChart"></canvas>
        </div>
    {% else %}
        <h3 class="text-center">Данные не найдены</h3>
    {% endif %}
</div></div></div><form method="POST" action="{% url 'main:download_word_report' %}">
    {% csrf_token %}
    <input type="hidden" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
    <input type="hidden" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
    <button type="submit" class="btn btn-info">Скачать отчет в формате Word</button>
</form>
</div></div></div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var serviceData = {{ service_data|safe }};
</script>
<script src="{% static 'js/custom_script.js' %}"></script>
<script>
    var gymData = {
        labels: ["Общее количество пациентов", "Пациенты в тренажерном зале"],
        data: [{{ total_patients_count }}, {{ gym_attendance_count }}]

    };
</script>
<script src="{% static 'js/gym_chart_script.js' %}"></script>
{% endblock %}
